In [1]:
import numpy as np

# Data pengumpulan sampah (dalam ton)
sampah_wilayah1 = np.array([
    1.2, 1.5, 1.3, 1.7, 1.6, 1.4, 1.1, 1.8, 1.5, 1.9,
    1.3, 1.6, 1.7, 1.4, 1.2, 1.5, 1.3, 1.9, 1.8, 1.7,
    1.5, 1.3, 1.2, 1.4, 1.6, 1.5, 1.9, 1.8, 1.6, 1.7
])

sampah_wilayah2 = np.array([
    1.1, 1.3, 1.4, 1.6, 1.5, 1.7, 1.2, 1.6, 1.7, 1.8,
    1.4, 1.5, 1.6, 1.3, 1.1, 1.4, 1.5, 1.8, 1.7, 1.6,
    1.4, 1.2, 1.3, 1.5, 1.7, 1.6, 1.8, 1.5, 1.9, 1.8
])

# 1. Hitung total sampah yang dikumpulkan di masing-masing wilayah selama sebulan.
total_wilayah1 = np.sum(sampah_wilayah1)
total_wilayah2 = np.sum(sampah_wilayah2)

print(f"Total sampah di Wilayah 1 selama sebulan: {total_wilayah1} ton")
print(f"Total sampah di Wilayah 2 selama sebulan: {total_wilayah2} ton")

Total sampah di Wilayah 1 selama sebulan: 45.9 ton
Total sampah di Wilayah 2 selama sebulan: 45.49999999999999 ton

In [2]:
# 2. Tentukan hari di mana wilayah pertama mengumpulkan lebih banyak sampah daripada wilayah kedua dan sebaliknya.
hari_wilayah1_lebih_banyak = np.where(sampah_wilayah1 > sampah_wilayah2)[0]
hari_wilayah2_lebih_banyak = np.where(sampah_wilayah2 > sampah_wilayah1)[0]

print(f"wilayah 1 mengumpulkan sampah lebih banyak di hari : {hari_wilayah1_lebih_banyak + 1}")
print(f"wilayah 2 mengumpulkan sampah lebih banyak di hari : {hari_wilayah2_lebih_banyak + 1}")

wilayah 1 mengumpulkan sampah lebih banyak di hari : [ 1  2  4  5  8 10 12 13 14 15 16 18 19 20 21 22 27 28]
wilayah 2 mengumpulkan sampah lebih banyak di hari : [ 3  6  7  9 11 17 23 24 25 26 29 30]

In [3]:
# 3. Hitung total sampah yang dikumpulkan oleh kedua wilayah setiap harinya.
total_per_hari = sampah_wilayah1 + sampah_wilayah2
print(f"Total sampah yang dikumpulkan oleh kedua wilayah setiap harinya: {total_per_hari}")

Total sampah yang dikumpulkan oleh kedua wilayah setiap harinya: [2.3 2.8 2.7 3.3 3.1 3.1 2.3 3.4 3.2 3.7 2.7 3.1 3.3 2.7 2.3 2.9 2.8 3.7
 3.5 3.3 2.9 2.5 2.5 2.9 3.3 3.1 3.7 3.3 3.5 3.5]

In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in c:\users\fraih\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.1.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\fraih\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\fraih\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.6 MB 495.5 kB/s eta 0:00:24
   ---------------------------------------- 0.1/11.6 MB 939.4 kB/s eta 0:00:13
   ---------------------------------------- 0.1/11.6 MB 950.9 kB/s eta 0:00:13
    --------------------------------------- 0.2/11.6 MB 1.1 MB/s eta 0:00:10
    --------------------------------------- 0.2/11.6 MB 1.2 MB/s eta 0:00:10
    --------------------------------------- 0.3/11.6 MB 1.0 MB/s eta 0:00:12
   - -------------------------------------- 0.4/11.6 MB 1.1 MB/s eta 0:00:11
   - -------------------------------------- 0.4/11.6 MB 1.1 MB/s eta 0:00:11
   - -------------------------------------- 0.5/11.6 MB 1.2 MB/s eta 0:00:10
   - -------------------------------------- 0.6/11.6 MB 1.2 MB/s eta 0:00:10
   -- ------------------------------------- 0.6/11.6 MB 1.2 MB/s eta 0:00:09
   -- ------------------------------------- 0.7/11.6 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.6 MB 1.3 MB/s eta 0:00:09
   -- ------------------------------------- 0.8/11.6 MB 1.3 MB/s eta 0:00:09
   --- ------------------------------------ 0.9/11.6 MB 1.3 MB/s eta 0:00:09
   --- ------------------------------------ 1.0/11.6 MB 1.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.1/11.6 MB 1.4 MB/s eta 0:00:08
   --- ------------------------------------ 1.1/11.6 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.2/11.6 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.3/11.6 MB 1.4 MB/s eta 0:00:08
   ---- ----------------------------------- 1.4/11.6 MB 1.4 MB/s eta 0:00:08
   ----- ---------------------------------- 1.5/11.6 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.5/11.6 MB 1.5 MB/s eta 0:00:07
   ----- ---------------------------------- 1.6/11.6 MB 1.5 MB/s eta 0:00:07
   ------ --------------------------------- 1.8/11.6 MB 1.6 MB/s eta 0:00:07
   ------ --------------------------------- 1.9/11.6 MB 1.6 MB/s eta 0:00:07
   ------- -------------------------------- 2.1/11.6 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.6 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.2/11.6 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.4/11.6 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.5/11.6 MB 1.7 MB/s eta 0:00:06
   -------- ------------------------------- 2.5/11.6 MB 1.7 MB/s eta 0:00:06
   --------- ------------------------------ 2.7/11.6 MB 1.8 MB/s eta 0:00:05
   --------- ------------------------------ 2.8/11.6 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 2.9/11.6 MB 1.8 MB/s eta 0:00:05
   ---------- ----------------------------- 3.1/11.6 MB 1.9 MB/s eta 0:00:05
   ---------- ----------------------------- 3.2/11.6 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.3/11.6 MB 1.9 MB/s eta 0:00:05
   ----------- ---------------------------- 3.4/11.6 MB 1.9 MB/s eta 0:00:05
   ------------ --------------------------- 3.6/11.6 MB 2.0 MB/s eta 0:00:04
   ------------ --------------------------- 3.7/11.6 MB 2.0 MB/s eta 0:00:04
   ------------- -------------------------- 4.0/11.6 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 4.1/11.6 MB 2.1 MB/s eta 0:00:04
   -------------- ------------------------- 4.3/11.6 MB 2.2 MB/s eta 0:00:04
   --------------- ------------------------ 4.5/11.6 MB 2.2 MB/s eta 0:00:04
   ---------------- ----------------------- 4.7/11.6 MB 2.3 MB/s eta 0:00:04
   ---------------- ----------------------- 4.8/11.6 MB 2.3 MB/s eta 0:00:03
   ----------------- ---------------------- 5.0/11.6 MB 2.3 MB/s eta 0:00:03
   ----------------- ---------------------- 5.2/11.6 MB 2.3 MB/s eta 0:00:03
   ------------------ --------------------- 5.4/11.6 MB 2.4 MB/s eta 0:00:03
   ------------------- -------------------- 5.6/11.6 MB 2.4 MB/s eta 0:00:03
   -------------------- ------------------- 6.0/11.6 MB 2.5 MB/s eta 0:00:03
   -------------------- ------------------- 6.1/11.6 MB 2.5 MB/s eta 0:00:03
   --------------------- ------------------ 6.4/11.6 MB 2.6 MB/s eta 0:00:03
   ---------------------- ----------------- 6.6/11.6 MB 2.6 MB/s eta 0:00:02
   ----------------------- ---------------- 6.9/11.6 MB 2.7 MB/s eta 0:00:02
   ------------------------ --------------- 7.1/11.6 MB 2.7 MB/s eta 0:00:02
   ------------------------- -------------- 7.5/11.6 MB 2.8 MB/s eta 0:00:02
   -------------------------- ------------- 7.7/11.6 MB 2.8 MB/s eta 0:00:02
   --------------------------- ------------ 8.1/11.6 MB 2.9 MB/s eta 0:00:02
   ---------------------------- ----------- 8.3/11.6 MB 3.0 MB/s eta 0:00:02
   ----------------------------- ---------- 8.7/11.6 MB 3.1 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 3.1 MB/s eta 0:00:01
   -------------------------------- ------- 9.4/11.6 MB 3.2 MB/s eta 0:00:01
   --------------------------------- ------ 9.6/11.6 MB 3.2 MB/s eta 0:00:01
   ---------------------------------- ----- 10.1/11.6 MB 3.3 MB/s eta 0:00:01
   ----------------------------------- ---- 10.4/11.6 MB 3.4 MB/s eta 0:00:01
   ------------------------------------- -- 10.8/11.6 MB 3.9 MB/s eta 0:00:01
   -------------------------------------- - 11.1/11.6 MB 4.1 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------  11.6/11.6 MB 4.5 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 4.4 MB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   ---------------------------------------- 0.0/508.0 kB ? eta -:--:--
   ------------------------------------ -- 471.0/508.0 kB 14.9 MB/s eta 0:00:01
   --------------------------------------- 508.0/508.0 kB 10.8 MB/s eta 0:00:00
Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
   ---------------------------------------- 0.0/346.6 kB ? eta -:--:--
   --------------------------------------- 346.6/346.6 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2024.2 tzdata-2024.2

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\fraih\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd

data_list = [
    ['Plastik',5,True],
    ['Kertas',3,False],
    ['Logam',4,True],
    ['Kaca',3,False]

]

df_list = pd.DataFrame(data_list, columns=['Bahan', 'Jumlah', 'Daur Ulang'])
df_list

# buatkan output dataframe yang hanya menampilkan bahan yang dapat didaur ulang

     Bahan  Jumlah  Daur Ulang
0  Plastik       5        True
1   Kertas       3       False
2    Logam       4        True
3     Kaca       3       False

In [20]:
import pandas as pd
import numpy as np


data = np.array([
    [1, 20, 75],
    [2, 21, 80],
    [3, 22, 85],
    [4, 23, 90],
    [5, 24, 95]
])

df = pd.DataFrame(data, columns=["ID", "Usia", "Nilai"])
df

   ID  Usia  Nilai
0   1    20     75
1   2    21     80
2   3    22     85
3   4    23     90
4   5    24     95

In [19]:
import pandas as pd

data_kamus = {
    'jenis' : ['plastik','kertas','logam','kaca'],
    'berat (kg)' : [5,2,4,3],
    'daur ulang' : [True,True,False,True]
}
df_kamus = pd.DataFrame(data_kamus)
df_kamus

     jenis  berat (kg)  daur ulang
0  plastik           5        True
1   kertas           2        True
2    logam           4       False
3     kaca           3        True

In [11]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   - -------------------------------------- 10.2/250.9 kB ? eta -:--:--
   --- ----------------------------------- 20.5/250.9 kB 162.5 kB/s eta 0:00:02
   ------ -------------------------------- 41.0/250.9 kB 393.8 kB/s eta 0:00:01
   ------------------------ --------------- 153.6/250.9 kB 1.0 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.2 MB/s eta 0:00:00
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

[notice] A new release of pip is available: 24.0 -> 24.3.1
[notice] To update, run: C:\Users\fraih\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [ ]:
df_list.to_csv('coba_export_list.csv',index=False)
df_list.to_excel('coba_excel_list.pyxl',index=False)

In [13]:
df_list.to_excel('coba_excel_list.xlsx',index=False)

In [18]:
import pandas as pd

df_excel = pd.read_excel('coba_excel_list.xlsx',sheet_name="Sheet1")
df_excel

     Bahan  Jumlah  Daur Ulang
0  Plastik       5        True
1   Kertas       3       False
2    Logam       4        True
3     Kaca       3       False

In [22]:
filter_df = df_excel['Bahan']
filter_df

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Bahan, dtype: object

In [24]:
a = df_list.loc[3,'Bahan']
b = df_list.iloc[1,0]

print(a)
print(b)

Kaca
Kertas

In [ ]:
for i,row in df_list.iterrows():
    # mengulang srmua data
    print(f"{row}")

    #mengulang index saja
    # print(i)

0
1
2
3

In [35]:
for i,row in df_list.iterrows():
    print(f"perulangan ke {i + 1} jenisnya adalah {row['Bahan']}")

perulangan ke 1 jenisnya adalah Plastik
perulangan ke 2 jenisnya adalah Kertas
perulangan ke 3 jenisnya adalah Logam
perulangan ke 4 jenisnya adalah Kaca

In [36]:
df_daurulang = df_list[df_list['Daur Ulang'] == True]
df_daurulang

     Bahan  Jumlah  Daur Ulang
0  Plastik       5        True
2    Logam       4        True

In [37]:
for i,row in df_list.iterrows():
    if row['Daur Ulang'] == True:
     print(f"perulangan ke {i + 1} jenisnya adalah {row['Bahan']}")

perulangan ke 1 jenisnya adalah Plastik
perulangan ke 3 jenisnya adalah Logam

In [ ]:
for index,row in df_kamus.iterrows():
    a = row['Daur Ulang']
    if a == True:
        print(f"Bahan: {row['Bahan']}, Berat: {row['Jumlah']}")

In [6]:
import pandas as pd

# Data sampah dari tabel dalam bentuk dictionary
data_sampah = {
    'Kabupaten/Kota': [
        "Kota Bandung", "Kota Bekasi", "Kota Bogor", "Kota Depok", "Kota Cimahi", 
        "Kabupaten Bandung", "Kabupaten Bekasi", "Kabupaten Bogor", "Kabupaten Cirebon", "Kabupaten Garut",
        "Kabupaten Indramayu", "Kabupaten Karawang", "Kabupaten Kuningan", "Kabupaten Majalengka",
        "Kabupaten Pangandaran", "Kabupaten Purwakarta", "Kabupaten Subang", "Kabupaten Sukabumi",
        "Kabupaten Sumedang", "Kabupaten Tasikmalaya"
    ],
    'Produksi Sampah 2020 (ton)': [
        280000, 500000, 240000, 210000, 120000, 350000, 410000, 370000, 220000, 260000, 
        300000, 450000, 200000, 190000, 140000, 230000, 250000, 310000, 180000, 270000
    ],
    'Produksi Sampah 2021 (ton)': [
        290000, 510000, 250000, 220000, 125000, 355000, 415000, 375000, 225000, 265000, 
        305000, 455000, 205000, 195000, 145000, 235000, 255000, 315000, 185000, 275000
    ],
    'Produksi Sampah 2022 (ton)': [
        300000, 520000, 260000, 230000, 130000, 360000, 420000, 380000, 230000, 270000, 
        310000, 460000, 210000, 200000, 150000, 240000, 260000, 320000, 190000, 280000
    ]
}


df_sampah = pd.DataFrame(data_sampah)
df_sampah['Rata-rata Produksi Sampah'] = df_sampah[['Produksi Sampah 2020 (ton)', 'Produksi Sampah 2021 (ton)', 'Produksi Sampah 2022 (ton)']].mean(axis=1)

df_sampah

,Kabupaten/Kota,Produksi Sampah 2020 (ton),Produksi Sampah 2021 (ton),Produksi Sampah 2022 (ton),Rata-rata Produksi Sampah
0,Kota Bandung,280000,290000,300000,290000.0
1,Kota Bekasi,500000,510000,520000,510000.0
2,Kota Bogor,240000,250000,260000,250000.0
3,Kota Depok,210000,220000,230000,220000.0
4,Kota Cimahi,120000,125000,130000,125000.0
5,Kabupaten Bandung,350000,355000,360000,355000.0
6,Kabupaten Bekasi,410000,415000,420000,415000.0
7,Kabupaten Bogor,370000,375000,380000,375000.0
8,Kabupaten Cirebon,220000,225000,230000,225000.0
9,Kabupaten Garut,260000,265000,270000,265000.0
10,Kabupaten Indramayu,300000,305000,310000,305000.0
11,Kabupaten Karawang,450000,455000,460000,455000.0
12,Kabupaten Kuningan,200000,205000,210000,205000.0
13,Kabupaten Majalengka,190000,195000,200000,195000.0
14,Kabupaten Pangandaran,140000,145000,150000,145000.0
15,Kabupaten Purwakarta,230000,235000,240000,235000.0
16,Kabupaten Subang,250000,255000,260000,255000.0
17,Kabupaten Sukabumi,310000,315000,320000,315000.0
18,Kabupaten Sumedang,180000,185000,190000,185000.0
19,Kabupaten Tasikmalaya,270000,275000,280000,275000.0

In [ ]:
import pandas as pd

# Data sampah dari tabel dalam bentuk dictionary
data_sampah = {
    'Kabupaten/Kota': [
        "Kota Bandung", "Kota Bekasi", "Kota Bogor", "Kota Depok", "Kota Cimahi", 
        "Kabupaten Bandung", "Kabupaten Bekasi", "Kabupaten Bogor", "Kabupaten Cirebon", "Kabupaten Garut",
        "Kabupaten Indramayu", "Kabupaten Karawang", "Kabupaten Kuningan", "Kabupaten Majalengka",
        "Kabupaten Pangandaran", "Kabupaten Purwakarta", "Kabupaten Subang", "Kabupaten Sukabumi",
        "Kabupaten Sumedang", "Kabupaten Tasikmalaya"
    ],
    'Produksi Sampah 2020 (ton)': [
        280000, 500000, 240000, 210000, 120000, 350000, 410000, 370000, 220000, 260000, 
        300000, 450000, 200000, 190000, 140000, 230000, 250000, 310000, 180000, 270000
    ],
    'Produksi Sampah 2021 (ton)': [
        290000, 510000, 250000, 220000, 125000, 355000, 415000, 375000, 225000, 265000, 
        305000, 455000, 205000, 195000, 145000, 235000, 255000, 315000, 185000, 275000
    ],
    'Produksi Sampah 2022 (ton)': [
        300000, 520000, 260000, 230000, 130000, 360000, 420000, 380000, 230000, 270000, 
        310000, 460000, 210000, 200000, 150000, 240000, 260000, 320000, 190000, 280000
    ]
}

# Membuat DataFrame
df_sampah = pd.DataFrame(data_sampah)

# 1. Menghitung total produksi sampah per tahun
total_2020 = df_sampah['Produksi Sampah 2020 (ton)'].sum()
total_2021 = df_sampah['Produksi Sampah 2021 (ton)'].sum()
total_2022 = df_sampah['Produksi Sampah 2022 (ton)'].sum()

print(f"Total Produksi Sampah 2020: {total_2020} ton")
print(f"Total Produksi Sampah 2021: {total_2021} ton")
print(f"Total Produksi Sampah 2022: {total_2022} ton")

# 2. Menghitung total produksi sampah per Kabupaten/Kota per tahun menggunakan iterrows
df_sampah['Total Produksi Sampah Per Tahun'] = 0

for index, row in df_sampah.iterrows():
    total_per_kota = row['Produksi Sampah 2020 (ton)'] + row['Produksi Sampah 2021 (ton)'] + row['Produksi Sampah 2022 (ton)']
    df_sampah.at[index, 'Total Produksi Sampah Per Tahun'] = total_per_kota

# Menampilkan DataFrame yang telah dihitung
print("\nData dengan Total Produksi Sampah Per Tahun:")
print(df_sampah)

# Mengekspor hasil akhir ke file CSV dan Excel
df_sampah.to_csv("produksi_sampah_jabar_total.csv", index=False)
df_sampah.to_excel("produksi_sampah_jabar_total.xlsx", index=False)

df_sampah

In [ ]:
import pandas as pd

# Data sampah dari tabel dalam bentuk dictionary
data_sampah = {
    'Kabupaten/Kota': [
        "Kota Bandung", "Kota Bekasi", "Kota Bogor", "Kota Depok", "Kota Cimahi", 
        "Kabupaten Bandung", "Kabupaten Bekasi", "Kabupaten Bogor", "Kabupaten Cirebon", "Kabupaten Garut",
        "Kabupaten Indramayu", "Kabupaten Karawang", "Kabupaten Kuningan", "Kabupaten Majalengka",
        "Kabupaten Pangandaran", "Kabupaten Purwakarta", "Kabupaten Subang", "Kabupaten Sukabumi",
        "Kabupaten Sumedang", "Kabupaten Tasikmalaya"
    ],
    'Produksi Sampah 2015 (ton)': [
        270000, 480000, 230000, 200000, 115000, 340000, 400000, 360000, 210000, 250000, 
        290000, 440000, 190000, 180000, 135000, 220000, 240000, 300000, 175000, 260000
    ],
    'Produksi Sampah 2016 (ton)': [
        275000, 490000, 235000, 205000, 118000, 345000, 405000, 365000, 215000, 255000, 
        295000, 445000, 195000, 185000, 140000, 225000, 245000, 305000, 180000, 265000
    ],
    'Produksi Sampah 2017 (ton)': [
        280000, 495000, 240000, 210000, 120000, 350000, 410000, 370000, 220000, 260000, 
        300000, 450000, 200000, 190000, 145000, 230000, 250000, 310000, 185000, 270000
    ],
    'Produksi Sampah 2018 (ton)': [
        285000, 505000, 245000, 215000, 122000, 355000, 415000, 375000, 225000, 265000, 
        305000, 455000, 205000, 195000, 150000, 235000, 255000, 315000, 190000, 275000
    ],
    'Produksi Sampah 2019 (ton)': [
        290000, 510000, 250000, 220000, 125000, 360000, 420000, 380000, 230000, 270000, 
        310000, 460000, 210000, 200000, 155000, 240000, 260000, 320000, 195000, 280000
    ],
    'Produksi Sampah 2020 (ton)': [
        280000, 500000, 240000, 210000, 120000, 350000, 410000, 370000, 220000, 260000, 
        300000, 450000, 200000, 190000, 140000, 230000, 250000, 310000, 180000, 270000
    ],
    'Produksi Sampah 2021 (ton)': [
        290000, 510000, 250000, 220000, 125000, 355000, 415000, 375000, 225000, 265000, 
        305000, 455000, 205000, 195000, 145000, 235000, 255000, 315000, 185000, 275000
    ],
    'Produksi Sampah 2022 (ton)': [
        300000, 520000, 260000, 230000, 130000, 360000, 420000, 380000, 230000, 270000, 
        310000, 460000, 210000, 200000, 150000, 240000, 260000, 320000, 190000, 280000
    ]
}

df_sampah = pd.DataFrame(data_sampah)
df_sampah

,Kabupaten/Kota,Produksi Sampah 2015 (ton),Produksi Sampah 2016 (ton),Produksi Sampah 2017 (ton),Produksi Sampah 2018 (ton),Produksi Sampah 2019 (ton),Produksi Sampah 2020 (ton),Produksi Sampah 2021 (ton),Produksi Sampah 2022 (ton),Rata-rata Produksi Sampah
0,Kota Bandung,270000,275000,280000,285000,290000,280000,290000,300000,290000.0
1,Kota Bekasi,480000,490000,495000,505000,510000,500000,510000,520000,510000.0
2,Kota Bogor,230000,235000,240000,245000,250000,240000,250000,260000,250000.0
3,Kota Depok,200000,205000,210000,215000,220000,210000,220000,230000,220000.0
4,Kota Cimahi,115000,118000,120000,122000,125000,120000,125000,130000,125000.0
5,Kabupaten Bandung,340000,345000,350000,355000,360000,350000,355000,360000,355000.0
6,Kabupaten Bekasi,400000,405000,410000,415000,420000,410000,415000,420000,415000.0
7,Kabupaten Bogor,360000,365000,370000,375000,380000,370000,375000,380000,375000.0
8,Kabupaten Cirebon,210000,215000,220000,225000,230000,220000,225000,230000,225000.0
9,Kabupaten Garut,250000,255000,260000,265000,270000,260000,265000,270000,265000.0
10,Kabupaten Indramayu,290000,295000,300000,305000,310000,300000,305000,310000,305000.0
11,Kabupaten Karawang,440000,445000,450000,455000,460000,450000,455000,460000,455000.0
12,Kabupaten Kuningan,190000,195000,200000,205000,210000,200000,205000,210000,205000.0
13,Kabupaten Majalengka,180000,185000,190000,195000,200000,190000,195000,200000,195000.0
14,Kabupaten Pangandaran,135000,140000,145000,150000,155000,140000,145000,150000,145000.0
15,Kabupaten Purwakarta,220000,225000,230000,235000,240000,230000,235000,240000,235000.0
16,Kabupaten Subang,240000,245000,250000,255000,260000,250000,255000,260000,255000.0
17,Kabupaten Sukabumi,300000,305000,310000,315000,320000,310000,315000,320000,315000.0
18,Kabupaten Sumedang,175000,180000,185000,190000,195000,180000,185000,190000,185000.0
19,Kabupaten Tasikmalaya,260000,265000,270000,275000,280000,270000,275000,280000,275000.0

In [3]:

tahun_dipilih = 2019
total_produksi_sampah = 0


for i, row in df_sampah.iterrows():
    
    produksi_tahun = row[f"Produksi Sampah {tahun_dipilih} (ton)"]
    total_produksi_sampah += produksi_tahun

print(f"Total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat pada tahun {tahun_dipilih} adalah sebanyak {total_produksi_sampah:.2f} ton")

Total produksi sampah di seluruh Kabupaten/Kota di Jawa Barat pada tahun 2019 adalah sebanyak 5685000.00 ton

In [6]:
# Inisialisasi dictionary untuk menyimpan jumlah data sampah per tahun
datasampah_per_tahun = {}

# Loop untuk menghitung jumlah sampah per tahun
for i in range(2015, 2023):  # Tahun dari 2015 hingga 2022
    kolom_tahun = f"Produksi Sampah {i} (ton)"
    total_sampah = df_sampah[kolom_tahun].sum()  # Jumlahkan data di kolom tersebut
    datasampah_per_tahun[i] = total_sampah

# Tampilkan hasil
print("Jumlah data sampah per tahun adalah sebagai berikut:\n")
for tahun, total in datasampah_per_tahun.items():
    print(f"Tahun {tahun} : {total:.2f} ton")

# Konversi dictionary ke DataFrame
df_datasampah_per_tahun = pd.DataFrame(list(datasampah_per_tahun.items()), 
                                       columns=['Tahun', 'Total Produksi Sampah (ton)'])

Jumlah data sampah per tahun adalah sebagai berikut:

Tahun 2015 : 5285000.00 ton
Tahun 2016 : 5388000.00 ton
Tahun 2017 : 5485000.00 ton
Tahun 2018 : 5587000.00 ton
Tahun 2019 : 5685000.00 ton
Tahun 2020 : 5480000.00 ton
Tahun 2021 : 5600000.00 ton
Tahun 2022 : 5720000.00 ton

In [7]:
# Export ke Excel
df_datasampah_per_tahun.to_excel('datasampah_per_tahun.xlsx', index=False)
print("Data diekspor ke Excel.\n")

# Buka file Excel
df_datasampah_per_tahun_excel = pd.read_excel('datasampah_per_tahun.xlsx')
print("Buka file Excel.")
print(df_datasampah_per_tahun_excel)

Data diekspor ke Excel.

Buka file Excel.
   Tahun  Total Produksi Sampah (ton)
0   2015                      5285000
1   2016                      5388000
2   2017                      5485000
3   2018                      5587000
4   2019                      5685000
5   2020                      5480000
6   2021                      5600000
7   2022                      5720000

In [8]:
# Export ke CSV
df_datasampah_per_tahun.to_csv('datasampah_per_tahun.csv', index=False)
print("Data diekspor ke CSV.\n")

# Buka file CSV
df_datasampah_per_tahun_csv = pd.read_csv('datasampah_per_tahun.csv')
print("Buka file CSV.")
print(df_datasampah_per_tahun_csv)

Data diekspor ke CSV.

Buka file CSV.
   Tahun  Total Produksi Sampah (ton)
0   2015                      5285000
1   2016                      5388000
2   2017                      5485000
3   2018                      5587000
4   2019                      5685000
5   2020                      5480000
6   2021                      5600000
7   2022                      5720000